<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OpenALPR_PlakaTanima.Properties.Settings.PlakaTanimConnectionString"
            connectionString="Data Source=DEMET\SQLEXPRESS;Initial Catalog=PlakaTanim;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="OpenALPR_PlakaTanima.Properties.Settings.PlakaTanimaConnectionString"
            connectionString="Data Source=DEMET\SQLEXPRESS;Initial Catalog=PlakaTanima;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>